<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rml.dao.KeywordPlanMapper">

  <resultMap id="BaseResultMap" type="rml.model.KeywordPlan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="good_number" jdbcType="VARCHAR" property="goodNumber" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="total_price" jdbcType="DOUBLE" property="totalPrice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from keyword_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="rml.model.KeywordPlan">
    insert into keyword_plan (id, good_number, keyword, 
      price, count, total_price, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{goodNumber,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{count,jdbcType=INTEGER}, #{totalPrice,jdbcType=DOUBLE}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="rml.model.KeywordPlan">
    update keyword_plan
    set good_number = #{goodNumber,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      count = #{count,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, good_number, keyword, price, count, total_price, create_time
    from keyword_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, good_number, keyword, price, count, total_price, create_time
    from keyword_plan
  </select>
</mapper>