<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rml.dao.OrderCommissionMapper" >
  <resultMap id="BaseResultMap" type="rml.model.OrderCommission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="commission" property="commission" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_commission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="rml.model.OrderCommission" >
    insert into order_commission (id, order_id, commission, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{commission,jdbcType=DOUBLE}, 
      #{createTime,jdbcType=DATE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="rml.model.OrderCommission" >
    update order_commission
    set order_id = #{orderId,jdbcType=VARCHAR},
      commission = #{commission,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, order_id, commission, create_time
    from order_commission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, order_id, commission, create_time
    from order_commission
  </select>
     <!-- /**============
  =====================
  =====================
  ==**/ -->
  
    <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, order_id, commission, create_time
    from order_commission
    where order_id = #{orderId}
  </select>
</mapper>